:root {
	--colors-white: #fff;
	--colors-black: #000;
	--colors-blue-200: #dbd9ff;
	--colors-blue-600: #697ed4;
	--colors-blue-850: #1e2d69;
	--colors-blue-900: #0f1b3d;
	--colors-blue-950: #0c122c;
}